
.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 350px;
}

.table-scroll tr {
    width: 80%;
    table-layout: fixed;
    display: inline-table;
}

.tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  .tooltips .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }
  .tooltips:hover .tooltiptext {
    visibility: visible;
  }